* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    height: 100vh;
    background-color: #fff;
}

header li {
    list-style: none;
}

header a {
    text-decoration: none;
    color:#F0FFF0 ;
    font-size: 1em;
}

header a:hover {
    color: #F0FFF0;
    text-shadow: 0 0 5px #fff,
                0 0 25px #fff,
                0 0 50px #fff,
                0 0 100px #fff;
                
}

/* HEADER */
header {
    position: relative;
    padding: 0 2rem;
    background-color: #008080;
    /* margin-bottom: 10px; */
}

.navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #008080;
}

.navbar .logo a {
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 1px 1px 3px #000, 2px 2px 3px #000, 3px 3px 3px #000, 4px 4px 2px #000, 5px 5px 4px #000;
}

.navbar .links {
    display: flex;
    gap: 2rem;
    font-weight: bold;
}

.navbar .toggle_btn {
    columns: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action_btn {
    color: #F0FFF0;
    padding: 0.5rem 1rem;
    border: 1px #F0FFF0;
    outline: 1px #F0FFF0;
    border-radius: 20px;
    font-size: 1.0rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale .2 ease;
}

.action_btn:hover {
    scale: 1.05;
    color: #fff;
}

.action_btn:active {
    scale: 0.95
}

/* DROPDOWN MENU */
.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    z-index: 10;
}

.dropdown_menu.open {
    height: 240px;
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* Hero */
section#hero {
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    text-align: center;
    color: black;
    background-color: #fff;
    background-image: url('../assets//ilustracion-concepto-voluntariado.png');
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
}

.hero-div {
    padding: 0 0 0 80px;
}

.hero-div h1 {
    font-size: 36px;
    text-align: left;
    margin-bottom: 10px;
    color: #222;
    letter-spacing: 2px;
    cursor: pointer;
    transition: 0.5s;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
}
h1:hover {
    color: #F0FFF0;
    text-shadow: 0 0 5px #008080,
                0 0 25px #008080,
                0 0 50px #008080,
                0 0 100px #008080;
}
h2:hover {
    color: #F0FFF0;
    text-shadow: 0 0 5px #fff,
                0 0 25px #fff,
                0 0 50px #fff,
                0 0 100px #fff;
}
.hero-div h2 {
    font-size: 20px;
    text-align: left;
    color: #F0FFF0;
    letter-spacing: 0.5px;
    cursor: pointer;
    transition: 0.5s;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
}

/*Para cambiar el texto  del main*/
.hero-div p {
    font-size: 20px;
    text-align: left;
    color: #000000;
    font-weight: bold;
}


/* RESPONSIVE DESING */
@media (max-width: 992px) {

    .navbar .links,
    .navbar .action_btn {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }

    .dropdown_menu {
        display: block;
    }
}

@media (max-width: 576px) {
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }

}