* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    height: 100vh;
    background-color: #fafafa;
}

header li {
    list-style: none;
}

header a {
    text-decoration: none;
    color: #048352;
    font-size: 1em;
}

header a:hover {
    color: orange;
}

/* HEADER */
header {
    position: relative;
    padding: 0 2rem;
}

.navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 1px 1px 3px #000, 2px 2px 3px #000, 3px 3px 3px #000, 4px 4px 2px #000, 5px 5px 4px #000;
}

.navbar .links {
    display: flex;
    gap: 2rem;
    font-weight: bold;
}

.navbar .toggle_btn {
    columns: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action_btn {
    background-color: orange;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale .2 ease;
}

.action_btn:hover {
    scale: 1.05;
    color: #fff;
}

.action_btn:active {
    scale: 0.95
}

/* DROPDOWN MENU */
.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    z-index: 10;
}

.dropdown_menu.open {
    height: 240px;
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* Hero */
section#hero {
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    text-align: center;
    color: black;
    background-color: #000;
    background-image: url('../assets/banner.jpg');
    background-size: cover;
    background-position: center;
}

.hero-div {
    padding: 0 0 0 80px;
}

.hero-div h1 {
    font-size: 36px;
    text-align: left;
    margin-bottom: 10px;
    color: #048352;
    text-shadow: 1px 1px 5px #000, 2px 2px 3px #000, 3px 3px 3px #000, 4px 4px 2px #000, 5px 5px 3px #000;
}

.hero-div p {
    font-size: 20px;
    text-align: left;
    color: #048352;
    font-weight: bold;
}


/* RESPONSIVE DESING */
@media (max-width: 992px) {

    .navbar .links,
    .navbar .action_btn {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }

    .dropdown_menu {
        display: block;
    }
}

@media (max-width: 576px) {
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }

}