.profile-container {
    display: flex;
    height: calc(100vh - 60px);
    z-index: 10;
    padding: 20px;
}

.profile-navbar {
    display: flex;
    flex-direction: column;
    margin: 0 20px 0 0;
    gap: 20px;
}

.profile-card {
    background: linear-gradient(#008080 35%, white 35%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 400px;
    gap: 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgb(100, 97, 97);
    padding: 20px;
}

.profile-card .img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
}

.profile-card p {
    font-size: 1.5em;
}

.img>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.button-link{
    background-color: #008080;
    border: 0;
    width: 100%;
    font-size: 1em;
}
.profile-links {
    padding: 20px;
    border-radius: 10px;
    background-color: #008080;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    gap: 10px;
    box-shadow: 2px 2px 5px rgb(100, 97, 97);
}

.profile-links a, .button-link {
    text-align: center;
    padding: 10px;
    color: white;
    /* margin: 10px 0; */
    text-decoration: none;
}
.profile-links a:hover, .button-link:hover{
    background-color: #2ca780;
    width: 100%;
    /* opacity: 0.8; */
}

.containerOutlet{
    /* margin: 100px; */
    width: 100%;
    height: 80vh;
    background-color: aliceblue;
}